<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/main}">

<head>
    <title>Home</title>
</head>

<body>
    <div class="container-fluid p-5" layout:fragment="content">
                <div class="row">
                    <div class="form-group col-md-12">
                        <h2>Pro Sidebar</h2>
                        <p>This is a responsive sidebar template with dropdown menu based on bootstrap framework.</p>

                    </div>
                </div>
            </div>
</body>

</html>