<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title>Ferry L.H.</title>
</head>

<body>
	<div th:fragment="content" th:remove="tag">
		<div class="container-fluid">
			<nav class="navbar navbar-expand fixed-top navbar-dark bg-dark">
				<div id="toggle-sidebar" class="hamburger hamburger--collapse">
				  <span class="hamburger-box">
				    <span class="hamburger-inner"></span>
				  </span>
				</div>
				<a class="logo" href="index.html" th:href="@{/}">logo</a>
				<div class="ml-auto">
					<a class="btn btn-primary" href="#" role="button">Register</a>
					<a class="btn btn-primary" href="#" role="button">Login</a>
				</div>
			</nav>
		</div>
	</div>
</body>

</html>